

<div class="list-group-item" id="{{ article.id }}" style="margin-top: 2px;">
    <div>
        <img src="/static/media/avatar/{{ article.author.profile.avatar }}" style="width: 26px; height: 26px; border-radius: 20px">
        <a>{{ article.author.username }}</a> <span style="margin: 12px;">{{ article.create_at }}</span>
    </div>
    <div class="article-item" style="margin-left: 26px">
      <p>{{ linkify(article.content) }}</p>
      {% if article.image %}
        <img src="/static/media/image/{{ article.image }}" class="min" id="image">
      {% end %}
    </div>
    <div style="margin: 8px; text-align: right">
        <span style="margin-left: 60px"><i class="comment fa fa-comment-o">{{ article.comment_count}}</i></span>
        <span style="margin-left: 60px"><i class="like fa fa-heart-o" style="padding: 12px">{{ article.like_count }}</i></span>
    </div>
</div>


<style type="text/css">
    .comment:hover, .like:hover{
        color: #5bc0de;
    }

    .origin{width:100%;height:auto;}
    .min{width:320px;height:auto;}
</style>

<script>
    $("#image").click(function(){
        $(this).toggleClass('min');
        $(this).toggleClass('origin');
    });
</script>